-- MySQL dump 10.13  Distrib 9.6.0, for Win64 (x86_64)
--
-- Host: localhost    Database: placement
-- ------------------------------------------------------
-- Server version	9.6.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ 'dce822ab-1e3c-11f1-8212-0072eee22efc:1-803';

--
-- Table structure for table `application`
--

DROP TABLE IF EXISTS `application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application` (
  `application_id` int NOT NULL AUTO_INCREMENT,
  `eligibility_status` varchar(20) DEFAULT NULL,
  `application_status` varchar(20) DEFAULT NULL,
  `student_id` int DEFAULT NULL,
  `drive_id` int DEFAULT NULL,
  PRIMARY KEY (`application_id`),
  UNIQUE KEY `unique_student_drive` (`student_id`,`drive_id`),
  KEY `student_id` (`student_id`),
  KEY `drive_id` (`drive_id`),
  CONSTRAINT `application_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`),
  CONSTRAINT `application_ibfk_2` FOREIGN KEY (`drive_id`) REFERENCES `placement_drive` (`drive_id`)
) ENGINE=InnoDB AUTO_INCREMENT=330 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application`
--

LOCK TABLES `application` WRITE;
/*!40000 ALTER TABLE `application` DISABLE KEYS */;
/*!40000 ALTER TABLE `application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_query`
--

DROP TABLE IF EXISTS `bot_query`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_query` (
  `query_id` int NOT NULL AUTO_INCREMENT,
  `query_text` varchar(200) DEFAULT NULL,
  `response_time` int DEFAULT NULL,
  `student_id` int DEFAULT NULL,
  `bot_id` int DEFAULT NULL,
  PRIMARY KEY (`query_id`),
  KEY `student_id` (`student_id`),
  KEY `bot_id` (`bot_id`),
  CONSTRAINT `bot_query_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`),
  CONSTRAINT `bot_query_ibfk_2` FOREIGN KEY (`bot_id`) REFERENCES `voice_bot` (`bot_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_query`
--

LOCK TABLES `bot_query` WRITE;
/*!40000 ALTER TABLE `bot_query` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_query` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company`
--

DROP TABLE IF EXISTS `company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company` (
  `company_id` int NOT NULL,
  `company_name` varchar(100) DEFAULT NULL,
  `role` varchar(100) DEFAULT NULL,
  `min_cgpa` decimal(3,2) DEFAULT NULL,
  `max_backlogs` int DEFAULT NULL,
  `package` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`company_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company`
--

LOCK TABLES `company` WRITE;
/*!40000 ALTER TABLE `company` DISABLE KEYS */;
INSERT INTO `company` VALUES (1,'Google','SDE',8.50,0,22.00),(2,'Amazon','SDE',8.00,0,30.00),(3,'Microsoft','SDE',8.00,0,44.00),(4,'TCS','Developer',6.50,2,4.00),(5,'Infosys','Developer',6.50,2,3.60),(6,'Deloitte','Analyst',7.00,1,8.00),(7,'Wipro','Developer',6.50,1,5.00),(8,'Adobe','SDE',8.50,0,32.00),(9,'Oracle','SDE',7.50,0,18.00),(10,'Accenture','Engineer',6.50,2,6.00);
/*!40000 ALTER TABLE `company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `direct_messages`
--

DROP TABLE IF EXISTS `direct_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `direct_messages` (
  `message_id` int NOT NULL AUTO_INCREMENT,
  `sender_id` int NOT NULL,
  `receiver_id` int NOT NULL,
  `message_text` text NOT NULL,
  `sent_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `is_read` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`message_id`),
  KEY `sender_id` (`sender_id`),
  KEY `receiver_id` (`receiver_id`),
  CONSTRAINT `direct_messages_ibfk_1` FOREIGN KEY (`sender_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `direct_messages_ibfk_2` FOREIGN KEY (`receiver_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `direct_messages`
--

LOCK TABLES `direct_messages` WRITE;
/*!40000 ALTER TABLE `direct_messages` DISABLE KEYS */;
INSERT INTO `direct_messages` VALUES (1,14,1,'Hello! This is an automated secure placement coordination message. Please confirm receipt.','2026-05-25 03:25:19',0),(2,16,1,'hi','2026-05-25 03:27:09',0);
/*!40000 ALTER TABLE `direct_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dream_company_application`
--

DROP TABLE IF EXISTS `dream_company_application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dream_company_application` (
  `dream_app_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int DEFAULT NULL,
  `drive_id` int DEFAULT NULL,
  `applied_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `status` enum('Applied','Selected','Rejected') DEFAULT 'Applied',
  PRIMARY KEY (`dream_app_id`),
  KEY `student_id` (`student_id`),
  KEY `drive_id` (`drive_id`),
  CONSTRAINT `dream_company_application_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`),
  CONSTRAINT `dream_company_application_ibfk_2` FOREIGN KEY (`drive_id`) REFERENCES `placement_drive` (`drive_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dream_company_application`
--

LOCK TABLES `dream_company_application` WRITE;
/*!40000 ALTER TABLE `dream_company_application` DISABLE KEYS */;
INSERT INTO `dream_company_application` VALUES (1,13,1,'2026-05-25 00:41:58','Applied'),(2,13,2,'2026-05-25 00:42:02','Applied'),(3,13,3,'2026-05-25 02:07:56','Applied'),(4,13,8,'2026-05-25 02:08:03','Applied'),(5,13,9,'2026-05-25 02:08:07','Applied'),(6,14,2,'2026-05-25 02:48:19','Applied');
/*!40000 ALTER TABLE `dream_company_application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offer`
--

DROP TABLE IF EXISTS `offer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `offer` (
  `offer_id` int NOT NULL AUTO_INCREMENT,
  `application_id` int NOT NULL,
  `package` decimal(10,2) NOT NULL,
  `role` varchar(100) NOT NULL,
  `status` varchar(20) DEFAULT 'Pending',
  `offer_date` date DEFAULT NULL,
  `join_date` date DEFAULT NULL,
  PRIMARY KEY (`offer_id`),
  KEY `application_id` (`application_id`),
  CONSTRAINT `offer_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `application` (`application_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=551 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offer`
--

LOCK TABLES `offer` WRITE;
/*!40000 ALTER TABLE `offer` DISABLE KEYS */;
/*!40000 ALTER TABLE `offer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp_verification`
--

DROP TABLE IF EXISTS `otp_verification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `otp_verification` (
  `verification_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `otp_code` varchar(6) NOT NULL,
  `otp_expiry` datetime NOT NULL,
  `action_type` varchar(50) NOT NULL,
  `action_payload` text NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`verification_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `otp_verification_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp_verification`
--

LOCK TABLES `otp_verification` WRITE;
/*!40000 ALTER TABLE `otp_verification` DISABLE KEYS */;
/*!40000 ALTER TABLE `otp_verification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `placement_drive`
--

DROP TABLE IF EXISTS `placement_drive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `placement_drive` (
  `drive_id` int NOT NULL,
  `drive_date` date DEFAULT NULL,
  `drive_type` varchar(50) DEFAULT NULL,
  `company_id` int DEFAULT NULL,
  PRIMARY KEY (`drive_id`),
  KEY `company_id` (`company_id`),
  CONSTRAINT `placement_drive_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`company_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `placement_drive`
--

LOCK TABLES `placement_drive` WRITE;
/*!40000 ALTER TABLE `placement_drive` DISABLE KEYS */;
INSERT INTO `placement_drive` VALUES (1,'2026-07-24','OnCampus',1),(2,'2026-06-05','OnCampus',2),(3,'2026-06-10','OnCampus',3),(4,'2026-06-15','OnCampus',4),(5,'2026-06-20','OnCampus',5),(6,'2026-06-25','OnCampus',6),(7,'2026-07-01','OnCampus',7),(8,'2026-07-05','OnCampus',8),(9,'2026-07-10','OnCampus',9),(10,'2026-07-15','OnCampus',10);
/*!40000 ALTER TABLE `placement_drive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `placement_funnel`
--

DROP TABLE IF EXISTS `placement_funnel`;
/*!50001 DROP VIEW IF EXISTS `placement_funnel`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `placement_funnel` AS SELECT 
 1 AS `company_name`,
 1 AS `total_applied`,
 1 AS `shortlisted`,
 1 AS `cleared_rounds`,
 1 AS `offers_made`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `result`
--

DROP TABLE IF EXISTS `result`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `result` (
  `result_id` int NOT NULL AUTO_INCREMENT,
  `result_status` varchar(20) DEFAULT NULL,
  `application_id` int DEFAULT NULL,
  `round_name` varchar(50) DEFAULT 'Final',
  PRIMARY KEY (`result_id`),
  KEY `application_id` (`application_id`),
  CONSTRAINT `result_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `application` (`application_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `result`
--

LOCK TABLES `result` WRITE;
/*!40000 ALTER TABLE `result` DISABLE KEYS */;
/*!40000 ALTER TABLE `result` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `round`
--

DROP TABLE IF EXISTS `round`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `round` (
  `round_id` int NOT NULL,
  `round_name` varchar(50) DEFAULT NULL,
  `sequence_number` int DEFAULT NULL,
  `drive_id` int DEFAULT NULL,
  PRIMARY KEY (`round_id`),
  KEY `drive_id` (`drive_id`),
  CONSTRAINT `round_ibfk_1` FOREIGN KEY (`drive_id`) REFERENCES `placement_drive` (`drive_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `round`
--

LOCK TABLES `round` WRITE;
/*!40000 ALTER TABLE `round` DISABLE KEYS */;
/*!40000 ALTER TABLE `round` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student` (
  `student_id` int NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `branch` varchar(50) DEFAULT NULL,
  `cgpa` decimal(3,2) DEFAULT NULL,
  `placement_status` varchar(20) DEFAULT NULL,
  `active_backlogs` int DEFAULT NULL,
  `graduation_year` int DEFAULT NULL,
  `degree_type` enum('BTech','MTech','MCA') NOT NULL DEFAULT 'BTech',
  `resume_url` varchar(255) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `linkedin_url` varchar(255) DEFAULT NULL,
  `github_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_profile_history`
--

DROP TABLE IF EXISTS `student_profile_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_profile_history` (
  `history_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int DEFAULT NULL,
  `cgpa` decimal(3,2) DEFAULT NULL,
  `active_backlogs` int DEFAULT NULL,
  `placement_status` varchar(20) DEFAULT NULL,
  `valid_from` datetime DEFAULT NULL,
  `valid_to` datetime DEFAULT NULL,
  PRIMARY KEY (`history_id`),
  KEY `student_id` (`student_id`),
  CONSTRAINT `student_profile_history_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_profile_history`
--

LOCK TABLES `student_profile_history` WRITE;
/*!40000 ALTER TABLE `student_profile_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_profile_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('student','tpo','company') NOT NULL,
  `student_id` int DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `reset_token` varchar(255) DEFAULT NULL,
  `reset_token_expiry` datetime DEFAULT NULL,
  `company_id` int DEFAULT NULL,
  `failed_attempts` int DEFAULT '0',
  `locked_until` datetime DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `student_id` (`student_id`),
  KEY `fk_users_company` (`company_id`),
  CONSTRAINT `fk_users_company` FOREIGN KEY (`company_id`) REFERENCES `company` (`company_id`) ON DELETE SET NULL,
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`)
) ENGINE=InnoDB AUTO_INCREMENT=117 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `voice_bot`
--

DROP TABLE IF EXISTS `voice_bot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `voice_bot` (
  `bot_id` int NOT NULL,
  `bot_name` varchar(50) DEFAULT NULL,
  `language` varchar(50) DEFAULT NULL,
  `status` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`bot_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voice_bot`
--

LOCK TABLES `voice_bot` WRITE;
/*!40000 ALTER TABLE `voice_bot` DISABLE KEYS */;
INSERT INTO `voice_bot` VALUES (1,'PlacementBot','English','Active');
/*!40000 ALTER TABLE `voice_bot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `placement_funnel`
--

/*!50001 DROP VIEW IF EXISTS `placement_funnel`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `placement_funnel` AS select `c`.`company_name` AS `company_name`,count(distinct `a`.`application_id`) AS `total_applied`,count(distinct (case when (`a`.`eligibility_status` = 'Eligible') then `a`.`application_id` end)) AS `shortlisted`,count(distinct (case when (`r`.`result_status` = 'Pass') then `r`.`result_id` end)) AS `cleared_rounds`,count(distinct `o`.`offer_id`) AS `offers_made` from ((((`company` `c` left join `placement_drive` `pd` on((`c`.`company_id` = `pd`.`company_id`))) left join `application` `a` on((`pd`.`drive_id` = `a`.`drive_id`))) left join `result` `r` on((`a`.`application_id` = `r`.`application_id`))) left join `offer` `o` on((`a`.`application_id` = `o`.`application_id`))) group by `c`.`company_name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-25  4:16:27
